{% extends "base.html" %}
{% block styles %}
<link href="{{ url_for('static', filename='channel.css') }}" rel="stylesheet">
{% endblock %}
{% block nav_links %}
<a class="nav-link" href="#">Channels List</a>
<a class="nav-link" href="#">Create Channel</a>
<a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
{% endblock %}
{% block content %}
<div class="container chat-block">
  <div class="row">
    <h1 class="col-12 text-center">{{ channel }}</h1>
  </div>
  <div class="row">
    <div class="col-12 container" id="messageSection">
      <div class="row">
        <div class="col-12" id="messageBox">
          {% for message in channel.messages %}
          <!-- float-left if message from another user and
          float-right if it's from this user -->
          <div class="message-div float-left">{{ message }}</div>
          {% endfor %}
        </div>
      </div>
      <div class="row controls-block">
        <div class="col-9">
          <textarea class="form-control" class="texting-form" id="textArea" rows=3></textarea>
        </div>
        <div class="col-3">
          <button class="btn btn-primary send-button" id="sendButton">Send Message</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='channel.js') }}"></script>
{% endblock %}