{% extends "base.html" %}
{% block styles %}
<link href="{{ url_for('static', filename='signin.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="text-center" id="signinBody">
    <form class="form-signin" action="" method="POST">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputName" class="sr-only">Type a nick</label>
        {% if error %}
          <div class="ivalid-feedback">
            <span>{{ error }}</span>
          </div>
          {% endif %}
        <input type="text" id="inputName" class="form-control" name="name" placeholder="Your nick" required autofocus>
        <input type="submit" class="btn btn-lg btn-primary btn-block mt-3" value="Sign in">
      </form>
</div>
{% endblock %}